@page {
    size: A4 Landscape;
    margin: 1cm 1cm 3cm 1cm;
    @bottom-center {        
        font-family: Arial, "Helvetica CY", "Nimbus Sans L", Tahoma, Verdana, Segoe, sans-serif;
        font-size: 0.7em;
        content: "Страница " counter(page) " из " counter(pages);   
    }
}

.afNoBreakInside{
    page-break-inside: avoid;
}

/*Стиль применяется к родительским элементам, для которых нужно установить ограничение по появлению разрыва страницы*/
.afNoFloat{
    float:none;
}

.afNoBreakAfter{
    page-break-after: avoid;
}

.afNoBreakBefore{
    page-break-before: avoid;
}
div#break{
    page-break-before: always;
}
