.afPlainText,
.afC,
.afHeader,
.afHeader2,
.afHeader3,
.afSubscript,
.afItalic,
.afValue,
.afTable,
.afSmallFontTable,
.afColumn,
.afP,
.afCenter,
.afParagraph,
.afRow,
.afRow50,
.afUnderline,
.afFootnote,
.afCol-1-4,
.afCol-1-2,
.afCol-1-3,
.afCol-2-3,
.afCol-3-4,
.afCol-1-10,
.afCol-8-10,
.afCol-9-10,
.afCol-1-6,
p{
    font-family: Arial;
    padding: 0;
    font-size:10pt;
}
.afLineHeight{
	line-height: 1.7em;
}
.afVerticalTop{
	vertical-align: top;
}
.afC{
    float: left;
    margin-left: 5px;
}
.afRight-1-4{
    float: right;
    margin: 0;
    width: 25%;
}
.afRight-1-3{
    float: right;
    margin: 0;
    width: 33.3333333333%;
}
.afRight-1-2{
	float: right;
	margin: 0;
	width: 50%;
}
.afAlignRight{
    text-align: right;
}

.afHeader{
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.afHeader2,
.afHeader3 {
    font-size: 12pt;
    font-weight: bold;
    padding-top:10pt;        
}

.afSubscript{
    font-style: italic;
    font-size: 0.8333333em;
    padding: 0;
    margin: 0;
    line-height: 1em;
}
.afItalic{
    font-style: italic;
}
.afValue{
    font-weight: bold;
}
.afUnderlinedBlock,
.afBlankUnderlinedBlock,
.afUnderlinedLeftBlock{
    border-bottom: 1px black solid;
    width: auto;
    text-align: center;
    overflow: hidden;
    vertical-align: bottom;
}

.afBlankUnderlinedBlock{
    height: 16px;
}

.afMarginLeft50{
    margin-left: 50px;
}

.afMarginLeft100{
    margin-left: 100px;
}

.afMarginLeft200{
    margin-left: 200px;
}

.afMarginLeft300{
    margin-left: 300px;
}
.afMarginLeft400{
    margin-left: 400px;
}

.afUnderlinedLeftBlock{
    text-align: left;
    clear: both;
}
.afPadding{
    padding-left: 20px;
    padding-right: 20px;
}

.afInterval{
    padding: 5px;
    clear: both;
    margin: 0;
}

.afUnderline{
    text-decoration: underline;
}
.afSmallSize{
	font-size: 0.8333333em;
}
.afFootnote{
    font-size: 0.8333333em;
    text-indent: 30px;
}
.afLine{
    border-top: 1px dashed #000;
}
.afWrap{
    width: 100%;
    font-size: 13px;
    line-height: 1.2em;
}

.afP{
    clear: both;
}

.afCenter{
    
    text-align: center;
}
.afCenterBlock{
 	text-align: center;
}

.afRow{
    width: 100%;
    float: left;
}

.afRow30{
    float: left;
    margin-left: 30px;
    width: 100%;
}

.afRow50{
    float: left;
    margin-left: 50px;
    width: 100%;
}

.afBox{
    border: solid 1px black;
    width: 98%;
    padding: 10px;
    float: left;
}
.afFrame{
	border: solid 1px black;
	float: left;
}

.afCol-1-4{
    float: left;
    width: 25%;
    margin: 0;
}

.afCol-1-6{
    float: left;
    width: 16.6666666667%;
    margin: 0;
}

.afCol-1-2{
    float: left;
    width: 50%;
    margin: 0;
}
.afCol2-1-2{
    float: left;
    width: 48%;
    margin: 0;
}

.afCol-1-3{
    float: left;
    width: 33.3333333333%;
    margin: 0;
}
.afCol-2-3{
    float: left;
    width: 66.6666666667%;
    margin: 0;
}

.afCol-3-4{
    float: left;
    width: 75%;
    margin: 0;
}
.afCol-1-10{
	float:left;
    width: 5%;
    margin: 0 2%;
}
.afCol-9-10{
    float: left;
    width: 90%;
    margin: 0;
}
.afCol-8-10{
    float: left;
    width: 80%;
    margin: 0;
}
.afHeightRow{
	height: 10px;
}
.afHeightBlankRow{
	height: 18px;
}
.afTableRight{
	float: right;
	margin: 0;
}
.afTable{
    border-collapse: collapse;
    border: 1px solid black;
    font-size:8pt;
}
.afTable td, th{
    border: 1px solid black;
    padding: 5px;
    font-size:8pt;
    line-height:0.85em;
}
.afTable td p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size:8pt;
    line-height:1em;
}

.afSmallFontTable{
    border-collapse: collapse;
    border: 1px solid black;
    font-size:7pt;
}
.afSmallFontTable td, th{
    border: 1px solid black;
    padding: 5px;
    font-size:7pt;
    line-height:0.95em;
}
.afSmallFontTable td p{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size:7pt;
    line-height:1em;
}

.afParagraph {
   margin: 0 0 0 0;
   padding: 0 0 0 0; 
}

.afSup {
vertical-align: super;
font-size: 50%;
}

.afTextAlignRight {
    text-align:right;
}

.afWidth100 {
    width:100%;
}