.afPlainText,
.afHeader,
.afSubscript,
.afValue,
.afP,
.afCenter,
.afParagraph,
.afRow,
.afRow50,
.afUnderline,
.afColLeft-3-4,
.afCol-1-4,
.afCol-1-2,
.afCol-1-3,
.afCol-2-3,
.afCol-3-4, p {
    font-size: 11pt;
    font-family: Arial, Tahoma, Verdana, Segoe, sans-serif;
    padding: 0;
    margin: 3px;
    line-height: 13px;
}

.afHeader {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.afSubscript {
    font-style: italic;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.afValue {
    text-decoration: underline;
    font-weight: bold;
}

.afInterval {
    padding: 5px;
    clear: both;
    margin: 0;
}

.afUnderline {
    text-decoration: underline;
}

.afWrap {
    width: 100%;
}

.afP {
    clear: both;
}

.afCenter {
    clear: both;
    text-align: center;
}

.afParagraph {
    text-align: justify;
    text-indent: 30px;
    clear: both;
}

.afRow {
    width: 100%;
    float: left;
}

.afRow50 {
    float: left;
    margin-left: 50px;
    width: 100%;
}

.afBox {
    border: solid 1px black;
    width: 98%;
    padding: 10px;
    float: left;
}

.afColLeft-3-4 {
    float: left;
    width: 75%;
    margin: 0;
}

.afCol-1-4 {
    float: left;
    width: 25%;
    margin: 0;
}

.afCol-1-2 {
    float: left;
    width: 50%;
    margin: 0;
}

.afCol-1-3 {
    float: left;
    width: 33.3333333333%;
    margin: 0;
}

.afCol-2-3 {
    float: left;
    width: 66.6666666667%;
    margin: 0;
}

.afCol-3-4 {
    float: left;
    width: 75%;
    margin: 0;
}

@page {
    size: A4 portrait;
    margin: 1cm 1cm 1cm 1cm;
    @bottom-right-corner {
        font-size: small;
        content: counter(page);
    }
}
